@model List<Elderly>
@{
    ViewData["Title"] = "_ViewElderly";
    Layout = "AdminMenu";
}
<link href="~/css/tableDesign.css" rel="stylesheet" />

<div class="container container-design">
    <h2>List of Elderly Details</h2>
    <ul class="responsive-table">
        <li class="table-header" style="font:bold">
            <div class="col col-1">Name</div>
            <div class="col col-2">Gender</div>
            <div class="col col-3">Email</div>
            <div class="col col-4">Address</div>
            <div class="col col-5">Postal Code</div>
            <div class="col col-6">Special Needs</div>
            <div class="col col-7">Edit Elderly Info</div>
        </li>
        <tbody>
            </tbody>
            @foreach (Elderly elderly in Model)
            {
        <li class="table-row">
            <div class="col col-1">@Html.DisplayFor(modelItem => elderly.Name)</div>
            <div class="col col-2">@Html.DisplayFor(modelItem => elderly.Gender)</div>
            <div class="col col-3">@Html.DisplayFor(modelItem => elderly.Email)</div>
            <div class="col col-4">@Html.DisplayFor(modelItem => elderly.Address)</div>
            <div class="col col-5">@Html.DisplayFor(modelItem => elderly.PostalCode)</div>
            <div class="col col-6">@Html.DisplayFor(modelItem => elderly.SpecialNeeds)</div>
            <div class="col col-7"><a asp-controller="Admin" asp-action="" asp-route-id="">Edit Elderly Info</a></div>
        </li>
            }
        </ul>
</div>

@*
<div class="main">
    <div class="tableDesign">
        <table id="viewInfo" class="table">
                <tr style="text-align: center">
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Postal Code</th>
                    <th>Special Needs</th>
                    <th></th>
                </tr>
            <tbody>
                @foreach (Elderly elderly in Model)
                { 
                    <tr class='table-primary' style="text-align: center">
                        <td>
                            @Html.DisplayFor(modelItem => elderly.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => elderly.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => elderly.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => elderly.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => elderly.PostalCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => elderly.SpecialNeeds)
                        </td>
                        <td style="font-weight: bold;">
                            <a asp-controller="Admin" asp-action="" asp-route-id="">Edit Elderly Info</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
*@
