@model List<Elderly>
@{
    ViewData["Title"] = "_ViewElderly";
    Layout = "AdminMenu";
}
<link href="~/css/tableDesign.css" rel="stylesheet" />

@*<div class="container container-design">
        <h2>List of Elderly Details</h2>
        <h2></h2>
        <button class="sort" data-sort="name">
            Sort
        </button>

            <ul class="responsive-table table-header" id="elderlyinfo">
                <li class=" ">Name</li>
                <li class="">Gender</li>
                <li class=" ">Email</li>
                <li class=" ">Address</li>
                <li class=" ">Postal Code</li>
                <li class=" ">Special Needs</li>
                <li class="">Edit Elderly Info</li>
            </ul>

            <ul class="responsive-table table-header" id="elderlyinfo">

                @foreach (Elderly elderly in Model)
                {
                    <li class="">@Html.DisplayFor(modelItem => elderly.Name)</li>
                    <li class="">@Html.DisplayFor(modelItem => elderly.Gender)</li>
                    <li class="">@Html.DisplayFor(modelItem => elderly.Email)</li>
                    <li class="">@Html.DisplayFor(modelItem => elderly.Address)</li>
                    <li class="">@Html.DisplayFor(modelItem => elderly.PostalCode)</li>
                    <li class="">@Html.DisplayFor(modelItem => elderly.SpecialNeeds)</li>
                    <li class=""><a asp-controller="Admin" asp-action="" asp-route-id="">Edit Elderly Info</a></li>
                }

            </ul>

    </div>*@

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.0/list.min.js"></script>
    
<div class="main">
    <h2>List of Elderly Details</h2>
    <div class="tableDesign">
        <table id="viewInfo" class="table">
            <tr style="text-align: center">
                <th>Name</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Address</th>
                <th>Postal Code</th>
                <th>Special Needs</th>
                <th>Edit</th>
            </tr>
            <tbody>
                @foreach (Elderly elderly in Model)
                {
                    <tr class='table-primary' style="text-align: center">
                        <td>
                            @Html.DisplayFor(modelItem => elderly.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => elderly.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => elderly.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => elderly.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => elderly.PostalCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => elderly.SpecialNeeds)
                        </td>
                        <td style="font-weight: bold;">
                            <a asp-controller="Admin" asp-action="" asp-route-id="">Edit Elderly Info</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

