@model List<Request>
@{
    Layout = "AdminMenu";
}
<link href="~/css/tableDesign.css" rel="stylesheet" />
<div class="main">
    <div class="tableDesign">
        <table id="viewInfo" class="table">
            <tr style="text-align: center">
                <th>Item</th>
                <th>ItemID</th>
                <th>DelTimeStart</th>
                <th>Status</th>
            </tr>
            @foreach (Request request in Model)
            {
                int count = 0;
                foreach (string key in request.Contents.Keys)
                {
                    int value = 0;
                    request.Contents.TryGetValue(key, out value);
                    if (count == 0)
                    {
                        <tr style="text-align: center; background-color: #f1f1f1 !important;">
                            <td>@key</td>
                            <td>@value</td>
                            <td rowspan="@request.Contents.Count" style="vertical-align:middle">@request.DelSlotStart</td>
                            <td rowspan="@request.Contents.Count" style="vertical-align:middle">@request.Status</td>
                        </tr>
                    }
                    else
                    {
                        <tr style="text-align: center; background-color: #f1f1f1 !important;">
                            <td>@key</td>
                            <td>@value</td>
                        </tr>
                    }
                    count += 1;
                }
            }
        </table>
    </div>
</div>