@model List<Request>
@{
    Layout = "AdminMenu";
}
<link href="~/css/tableDesign.css" rel="stylesheet" />
<table id="viewInfo" class="table table-striped table-bordered">
    <tr>
        <th>Item</th>
        <th>ItemID</th>
        <th>DelTimeStart</th>
        <th>Status</th>
    </tr>
    @foreach (Request request in Model)
    {
        int count = 0;
        foreach (string key in request.Contents.Keys)
        {
            int value = 0;
            request.Contents.TryGetValue(key, out value);
            if (count == 0)
            {
                <tr>
                    <td>@key</td>
                    <td>@value</td>
                    <td rowspan="@request.Contents.Count" style="vertical-align:middle">@request.DelSlotStart</td>
                    <td rowspan="@request.Contents.Count" style="vertical-align:middle">@request.Status</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@key</td>
                    <td>@value</td>
                </tr>
            }
            count += 1;
        }
    }
</table>
