@model List<Area>
@{
    Layout = "~/Views/Shared/AdminMenu.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/css/request.css" rel="stylesheet" />
<div>
    <div>
        @{
            List<string> arealist = new List<string>();
            foreach (Area area in Model)
            {
                <div class="main">
                    <h2 class="titleDisplay">@area.AreaCode</h2>            <!-- This shows the main area - Central Region, West Region, etc.-->
                    @foreach (SubArea subarea in area.SubArea)
                    {
                        <div>
                            <!--This div is the container for the SubAreas - Tiong Bahru,Clementi whatever -->
                            @*<h3 class="titleDisplay">@subarea.Name</h3>*@
                            <table class="content-table">
                                <thead>
                                    <!-- Table for the user data -->
                                    <tr>
                                        <th>UserID</th>
                                        <th>Items</th>
                                        <th>Item amnt</th>
                                        <th>Address</th>
                                        <th>Postal Code</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (UserRequests requests in subarea.reqlist)
                                    {
                                        for (int count = 0; count < requests.itemlist.Count(); count++)
                                        {
                                            if (count == 0)
                                            {
                                                <tr>
                                                    <td rowspan="@requests.itemlist.Count">@requests.User.Name</td>
                                                    <td>@requests.itemlist[0].Icon  @requests.itemlist[0].Name</td> @*Items*@
                                                    <td>@requests.itemlist[0].Requested</td> @*Item Amt*@
                                                    <td rowspan="@requests.itemlist.Count">@requests.User.Address</td>
                                                    <td rowspan="@requests.itemlist.Count">@requests.User.PostalCode</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>@requests.itemlist[count].Icon  @requests.itemlist[count].Name</td>
                                                    <td>@requests.itemlist[count].Requested</td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>

<script>
    //var acc = document.getElementsByClassName("display-table");
    //var i;
    //function myFunction() {

    //    for (i = 0; i < acc.length; i++) {
    //        acc[i].addEventListener("click", function () {
    //            this.classList.toggle("active");
    //            var x = this.nextElementSibling;
    //            if (x.style.display === "table") {
    //                x.style.display = "none";
    //            } else {
    //                x.style.display = "table";
    //            }
    //        });
    //    }


    //}

    //function myFunction() {
    //    var x = document.getElementsByClassName("display-table");
    //    var displayTable = x[0].style.display;

    //    if (displayTable === "none") {
    //        displayTable.style.display = "table";
    //    } else {
    //        displayTable.style.display = "none";
    //    }
    //}
</script>
