@model AreaRoot
@{
    Layout = "~/Views/Shared/AdminMenu.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/css/request.css" rel="stylesheet" />

<div>
    <div>
        <h2>Total Item List</h2>
        <table class="content-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Requested</th>
                    <th>Stock</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (items item in Model.ItemList)
                {
                <tr>
                    <td><strong>@item.ID</strong></td> @*Items*@
                    <td><strong>@item.Icon  @item.Name</strong></td> @*Item Amt*@
                    <td><strong>@item.Requested</strong></td>
                    <td><strong>@item.stock</strong></td>
                    @{
                        var percentage = ((Convert.ToDouble(item.stock) - Convert.ToDouble(item.Requested))
                            / Convert.ToDouble(item.stock) * 100);
                        var num = ((Convert.ToDouble(item.stock) - Convert.ToDouble(item.Requested))
                            / Convert.ToDouble(item.stock)).ToString("0%");

                        if (percentage > 80)
                        {
                            <td class="progress-bar progress-bar-green" role="progressbar"
                                aria-valuenow="@num" aria-valuemin="0" aria-valuemax="100" width="@num">
                                @num
                            </td>
                        }

                        else if (percentage < 20)
                        {
                            <td class="progress-bar progress-bar-red" role="progressbar"
                                aria-valuenow="@num" aria-valuemin="0" aria-valuemax="100" width="@num">
                                @num
                            </td>
                        }

                        else
                        {
                            <td class="progress-bar progress-bar-yellow" role="progressbar"
                                aria-valuenow="@num" aria-valuemin="0" aria-valuemax="100" width="@num">
                                @num
                            </td>
                        }
                    }


                </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        @{
            List<items> itemsList = new List<items>();
            foreach (Area area in Model.arealist)
            {
                <div>
                    <div class="titleDisplay">
                        <!-- This shows the main area - Central Region, West Region, etc.-->
                        <h2>@area.AreaCode</h2>
                    </div>

                    @foreach (Request_NEW req in area.ReqList)
                    {
                        foreach (items item in req.ItemList)
                        {
                            items itemf = itemsList.Find(x => x.ID == item.ID);
                            if (itemf != null)
                            {
                                itemf.Requested += item.Requested;
                            }
                            else
                            {
                                itemsList.Add(item);
                            }
                        }
                        <!--This div is the container for the SubAreas - Tiong Bahru,Clementi whatever -->
                        <div class="subarea-display">
                            <h5>@req.ZoneID</h5>
                        </div>

                        <div>
                            <table class="content-table">
                                <thead>
                                    <!-- Table for the user data -->
                                    <tr>
                                        <th>UserID</th>
                                        <th>Items</th>
                                        <th>Item amnt</th>
                                        <th>Address</th>
                                        <th>Postal Code</th>
                                        <th>Time Posted</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Request request in req.ReqList)
                                    {
                                        for (int count = 0; count < request.itemList.Count; count++)
                                        {
                                            if (count == 0)
                                            {
                                                <tr>
                                                    <td rowspan="@request.itemList"><strong>@request.Sender.Name</strong></td>
                                                    <td>@request.itemList[0].Icon  @request.itemList[0].ID</td> @*Items*@
                                                    <td><strong>@request.itemList[0].Requested</strong></td> @*Item Amt*@
                                                    <td rowspan="@request.itemList.Count"><strong>@request.Sender.Address</strong></td>
                                                    <td rowspan="@request.itemList.Count"><strong>@request.Sender.PostalCode</strong></td>
                                                    <td rowspan="@request.itemList.Count"><strong>@request.dateCreatedD.ToString("g")</strong></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td>@request.itemList[count].Icon  @request.itemList[count].ID</td>
                                                    <td><strong>@request.itemList[count].Requested</strong></td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            }
        }
    </div>

</div>
<script>
    //var acc = document.getElementsByClassName("display-table");
    //var i;
    //function myFunction() {

    //    for (i = 0; i < acc.length; i++) {
    //        acc[i].addEventListener("click", function () {
    //            this.classList.toggle("active");
    //            var x = this.nextElementSibling;
    //            if (x.style.display === "table") {
    //                x.style.display = "none";
    //            } else {
    //                x.style.display = "table";
    //            }
    //        });
    //    }


    //}

    //function myFunction() {
    //    var x = document.getElementsByClassName("display-table");
    //    var displayTable = x[0].style.display;

    //    if (displayTable === "none") {
    //        displayTable.style.display = "table";
    //    } else {
    //        displayTable.style.display = "none";
    //    }
    //}
</script>
