@model List<Area>
@{
    Layout = "~/Views/Shared/AdminMenu.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/css/request.css" rel="stylesheet" />
<div>
    <div>
        @{
            foreach (Area area in Model)
            {
                <div>
                    <h2 class="titleDisplay">@area.AreaCode</h2>            <!-- This shows the main area - Central Region, West Region, etc.-->
                    @foreach (Request_NEW req in area.ReqList)
                    {
                        <div>
                            <!--This div is the container for the SubAreas - Tiong Bahru,Clementi whatever -->
                            <br/><h3 class="titleDisplay">@req.ZoneID</h3>
                            <table class="content-table">
                                <thead>
                                    <!-- Table for the user data -->
                                    <tr>
                                        <th>UserID</th>
                                        <th>Items</th>
                                        <th>Item amnt</th>
                                        <th>Address</th>
                                        <th>Postal Code</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Request request in req.ReqList)
                                    {
                                        for (int count = 0; count < request.itemList.Count; count++)
                                        {
                                            if (count == 0)
                                            {
                                                <tr>
                                                    <td rowspan="@request.itemList"><strong>@request.Sender.Name</strong></td>
                                                    <td>@request.itemList[0].Icon  @request.itemList[0].ID</td> @*Items*@
                                                    <td><strong>@request.itemList[0].Requested</strong></td> @*Item Amt*@
                                                    <td rowspan="@request.itemList.Count"><strong>@request.Sender.Address</strong></td>
                                                    <td rowspan="@request.itemList.Count"><strong>@request.Sender.PostalCode</strong></td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td>@request.itemList[count].Icon  @request.itemList[count].ID</td>
                                                    <td><strong>@request.itemList[count].Requested</strong></td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>
<script>
    //var acc = document.getElementsByClassName("display-table");
    //var i;
    //function myFunction() {

    //    for (i = 0; i < acc.length; i++) {
    //        acc[i].addEventListener("click", function () {
    //            this.classList.toggle("active");
    //            var x = this.nextElementSibling;
    //            if (x.style.display === "table") {
    //                x.style.display = "none";
    //            } else {
    //                x.style.display = "table";
    //            }
    //        });
    //    }


    //}

    //function myFunction() {
    //    var x = document.getElementsByClassName("display-table");
    //    var displayTable = x[0].style.display;

    //    if (displayTable === "none") {
    //        displayTable.style.display = "table";
    //    } else {
    //        displayTable.style.display = "none";
    //    }
    //}
</script>
